page-reserve {
    .clock {
        margin-right: 28px;
        color: #7C5547;
    }
    .checkmark {
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 27px;
    }
    .btnblock {
        background-color: #9e9e9e;
    }
    .btn-premuim {
        background-color: #ffdf9e;
    }
    .btn-seat {
        background-color: #C0392B;
    }
}