page-info {
    ion-slides {
        height: unset !important;
    }
    .margin-top {
        margin-top: 15px;
    }
    .card-content {
        padding: 28px 50px !important;
    }
    h1 {
        font-size: 28px !important;
    }
}